//....!!Contact Section!!....//

.cont_dot {
  font-size: 160px;
  font-weight: 700;
  //   line-height: 400px;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #f1f1f1;
  color: #0000;
  text-align: center;
}

.cont_sol {
  display: flex;
  color: #696969;
  position: relative;
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
  bottom: 76px;
}

.cont_talk{
  display: flex;
  color: #000000;
  position: relative;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  line-height: 70px;
  bottom: 76px;
}

.cont_info_title{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #696969;
}

.cont_info_detail{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 20px;
    text-align: center;
    padding-bottom: 100px;
    font-weight: 500;
}

.cont_button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    right: 72px;
   padding-bottom: 100px;
  }
  
  .cont_button_text {
    display: flex;
    text-align: center;
    font-size: 16px;
    position: relative;
    font-weight: 500;
    color: red;
    left: 188px;
    top: -2px;
  }


