$whiteColor: #f2f2f2;
$blackColor: #151515;
$greyColor: #696969;
$blank: #0000;
$redColor: #ff492a;

//....!!Hero Section!!.... //

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-width: 100vh;
  height: 100vh;
}

.left-side {
  background-color: $whiteColor;

  left: 0;
  position: relative;
  top: 0;
  width: 960px;
  border: none;
}

.right-side {
  background-color: $blackColor;

  left: 0px;
  position: relative;
  top: 0;
  width: 960px;
}

.h1 {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-self: center;
  text-align: center;
  // left: 476px;
  // top: 135px;
  font-size: 120px;
  -webkit-text-stroke-width: 2.6px;
  -webkit-text-stroke-color: $whiteColor;
  z-index: 2;
  line-height: 130px;
}

.logo {
  display: flex;
  bottom: 350px;
  right: 1px;
}

.para {
  display: flex;
  color: $whiteColor;
  position: relative;
  justify-self: center;
  justify-content: center;
  justify-items: center;
}

.menu {
  display: flex;
  color: $whiteColor;
  left: 30px;
  gap: 20px;
}

.socials {
  display: flex;
  gap: 20px;
  left: 400px;
  top: 130px;
}

//....!!About Section!!.... //

.abt_container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.abt_dot {
  font-size: 150px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $whiteColor;
  color: $blank;

  text-align: center;
}

.abt_sol {
  display: flex;
  text-align: center;
  font-size: 47px;
  font-weight: 600;
  line-height: 60px;
  bottom: 70px;
  position: relative;
  left: 10px;
}

.v1 {
  border-left: 1px solid $blackColor;
  height: 70px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  bottom: 30px;
}

.abt_paragraph {
  justify-content: center;
  text-align: center;
  position: relative;
  top: 10px;
  font-size: 18px;
  font-weight: 100;
  line-height: 40px;
}

//....!!Product Section!!....//

.prodcontain {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.pro-dot {
  font-size: 150px;
  font-weight: 700;
  //   line-height: 400px;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $whiteColor;
  color: $blank;

  text-align: center;
}

.pro-sol {
  display: flex;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;

  bottom: 70px;
  position: relative;
}

.prod-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anch1 {
  color: $greyColor;
  font-size: 20px;
  font-weight: 200;
  line-height: 56px;
}

.plug {
  display: flex;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  line-height: 60px;
  top: 12px;
  position: relative;
  margin-bottom: 40px;
}

.prod_para1 {
  display: flex;
  color: $greyColor;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  top: 40px;
  bottom: 80px;
}

.button_text {
  display: flex;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  top: 30px;
  font-weight: 500;
}

.ever {
  background-color: $blackColor;
  margin-top: 20px;
  position: relative;
  width: 1920px;
  height: 400px;
  top: 50px;
}

.anch2 {
  display: flex;
  color: $whiteColor;
  font-size: 20px;
  font-weight: 200;
  line-height: 56px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 50px;
}

.ever_acc {
  color: $blackColor;
  display: flex;
  font-size: 100px;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $whiteColor;
  text-transform: uppercase;
  top: 30px;
}

.prod_para2 {
  display: flex;
  color: $whiteColor;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  top: 40px;
  bottom: 80px;
}

.button_red {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 58px;
  right: 64px;
}

.button_text_red {
  display: flex;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  color: $redColor;
  left: 176px;
}

.prod-box_studio {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 120px;
  justify-content: center;
  align-items: center;
}

.anch3 {
  color: $greyColor;
  font-size: 20px;
  font-weight: 200;
  line-height: 56px;
}

.wc_std {
  display: flex;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  line-height: 60px;
  top: 12px;
  position: relative;
  margin-bottom: 40px;
}

.prod_para3 {
  display: flex;
  color: $greyColor;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  top: 10px;
  bottom: 80px;
}

//....!!JoinUs Section!!....//

.join_container {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.team {
  display: flex;
  position: relative;
  width: 550px;
  height: auto;
  justify-content: center;
  align-items: center;
  left: 700px;
  bottom: 86px;
}

.para_join {
  display: flex;
  text-align: center;
  font-size: 47px;
  font-weight: 600;
  line-height: 60px;
  bottom: 70px;
  position: relative;
  left: 10px;
}

.join_button_red {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  right: 90px;
  bottom: 20px;
}

.join_button_text_red {
  display: flex;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  color: $redColor;
  left: 200px;
}

//....!!Feature Section!!....//

.feat_dot {
  font-size: 160px;
  font-weight: 700;
  //   line-height: 400px;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $whiteColor;
  color: $blank;

  text-align: center;
}

.feat_sol {
  display: flex;
  position: relative;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  bottom: 76px;
}

.date_writer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date {
  font-size: 12px;
  color: $greyColor;
  display: flex;
  font-weight: 600;
  letter-spacing: 2px;
}

.writer {
  font-size: 12px;
  color: $greyColor;
  display: flex;
  font-weight: 400;
}

.feat_para_black {
  display: flex;
  font-size: 26px;
  position: relative;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  top: 10px;
  line-height: 44px;
}

.feat_para_gray {
  display: flex;
  color: $greyColor;
  font-size: 14px;
  position: relative;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  top: 19px;
  line-height: 28px;
  padding-bottom: 40px;
}

.feat_button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  right: 72px;
  padding-bottom: 60px;
}

.feat_button_text {
  display: flex;
  text-align: center;
  font-size: 18px;
  position: relative;
  font-weight: 500;
  color: $redColor;
  left: 188px;
  top: -2px;
}

//....!!Contact Section!!....//

.cont_dot {
  font-size: 160px;
  font-weight: 700;
  //   line-height: 400px;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $whiteColor;
  color: $blank;
  text-align: center;
}

.cont_sol {
  display: flex;
  color: $greyColor;
  position: relative;
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
  bottom: 76px;
}

.cont_talk {
  display: flex;
  color: $blackColor;
  position: relative;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  line-height: 70px;
  bottom: 76px;
}

.cont_info_title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: $greyColor;
}

.cont_info_detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 20px;
  text-align: center;
  padding-bottom: 100px;
  font-weight: 500;
}

.cont_button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  right: 72px;
  padding-bottom: 100px;
}

.cont_button_text {
  display: flex;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  color: $redColor;
  left: 188px;
  top: -2px;
}

//....!!Vertical Line!!....//

.v_lines_group {
  display: grid;
  position: relative;
  grid-gap: 200px;
  grid-template-columns: 1fr 1fr 1fr;
}
.v_lines1 {
  display: flex;
  position: absolute;
  gap: 100px;
  border-left: 1px solid $whiteColor;
  margin: 0;
  top: -81px;
  width: 2px;
  height: 4044px;
}

.v_lines2 {
  display: flex;
  position: absolute;
  gap: 100px;
  border-left: 1px solid $whiteColor;
  margin: 0;
  top: -81px;
  width: 2px;
  height: 4044px;
  left: 30px;
}
.v_lines3 {
  display: flex;
  position: absolute;
  gap: 100px;
  border-left: 1px solid $whiteColor;
  margin: 0;
  top: -81px;
  width: 2px;
  height: 4044px;
  right: 30px;
}

.horizontal_line {
  border-top: 1px solid $whiteColor;
  width: 1920px;
}

.footer {
  position: relative;
  left: 800px;
  top: 10px;
}
